<div class="modal-body">
  <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label"> {{ title }} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" name = "title" id = "title"  value = "Аватар короля" ngModel>
      </div>
    </div>

    <div class="form-group row">
      <label for="season" class="col-sm-2 col-form-label"> {{ season }} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" name = "season" id = "season" value = "1 сезон" ngModel>
      </div>
    </div>

    <div class="form-group row">
      <label for="year" class="col-sm-2 col-form-label"> {{year}} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" name = "year" id = "year" value = "2017" ngModel>
      </div>
    </div>

    <div class="form-group row">
      <label for="cover" class="col-sm-2 col-form-label"> {{cover}} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" name = "cover" id = "cover" value = "https://ранобэ.рф/the-king's-avatar/" ngModel>
      </div>
    </div>

    <div class="form-group row">
      <label for="link" class="col-sm-2 col-form-label"> {{link}} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" name = "link" id = "link" value = "http://animevost.org/tip/tv/1889-quan-zhi-gao-shou.html" ngModel>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary" id="modal-add-anime-ok">Add anime</button>
    </div>

  </form>
</div>
