<div class="modal-body">
  <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label"> {{ title }} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" id = "title"  formControlName="title">
      </div>
    </div>

    <div class="form-group row">
      <label for="season" class="col-sm-2 col-form-label"> {{ season }} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" id = "season" formControlName="season">
      </div>
    </div>

    <div class="form-group row">
      <label for="last_series" class="col-sm-2 col-form-label"> {{last_series}} </label>
      <div class="col-sm-10">
        <input type = "number" class = "form-control" id = "last_series" formControlName="last_series">
      </div>
    </div>

    <div class="form-group row">
      <label for="cover" class="col-sm-2 col-form-label"> {{cover}} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" id = "cover" formControlName="cover">
      </div>
    </div>

    <div class="form-group row">
      <label for="link" class="col-sm-2 col-form-label"> {{link}} </label>
      <div class="col-sm-10">
        <input type = "text" class = "form-control" id = "link" formControlName="link">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary" id="modal-add-anime-ok">Save</button>
    </div>

  </form>
</div>
