.add{
  background-color: #111111;
  border: none;
  display: block;
  padding: 20px;
  color:#efefef;
  background: url(https://www.freeiconspng.com/uploads/add-create-new-plus-icon-24.png) no-repeat 5px;
  background-size: 30px;
  margin-left: 1720%;
}
