<button
  *ngIf="mode === 'create'"
  type="button"
  class="btn btn-primary add"
  (click)="openModal(template)">
</button>
<button
  *ngIf="mode === 'edit'"
  type="button"
  class="btn btn-warning"
  (click)="openModal(template)">
  Edit
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
  </div>
  <div class="modal-body">
    <!--my modal form -->
    <app-modal-forms [modalRef]="modalRef" [anime]="anime"></app-modal-forms>
  </div>
</ng-template>
